* {
    /* border: 1px solid black; */
    font-family: Roboto, sans-serif;
  }
  
body {
  margin: 0;
}

.rounded-corners {
  border-radius: 8px;
}

/* HEADER */
.header-container {
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.link-container {
  color: #E5E7EB;
  display: flex;
  font-size: 19px;
  gap: 50px;
}

.logo {
  font-size: 29px;
  font-weight: 950;
}

/* SECTION 1 */
.section1-container {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  font-size: 18px;
  gap: 20px;
  justify-content: center;
  padding: 80px 0px;
}

.section1-container > * {
  display: flex;
  flex: 0 1 40%;
}

.section1-container .left-column {
  flex-direction: column;
}

.left-column > * {
  margin: 5px;
}

.left-column button {
  background-color: #3882F6;
  color: inherit;
  font-size: inherit;
  font-weight: 700;
  height: 35px;
  width: 120px;
}

.left-column h2 {
  font-size: 48px;
  font-weight: 900;
}

.left-column p {
  color: #E5E7EB;
}

.placeholder-image {
  align-items: center;
  background-color: grey;
  justify-content: center;
}

/* SECTION 2 */

.section2-container {
  align-items: center;
  gap: 20px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.illustration-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
}

.illustration-row > * {
  align-items: center;
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
}

.section2-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.illustration {
  border: 2px solid #3882F6;
  height: 145px;
  width: 145px;
}

.card-text {
  text-align: center;
  width: 145px;
}

/* SECTION 3 */
.section3 {
  background-color: #E5E7EB;
  margin: 0;
}

.section3-container,
.quote-container {
  display: flex;
}

.section3-container {
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.quote-container {
  flex-direction: column;
  width: 50%;
}

.quote-container > * {
  margin: 0;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 1;
}

.attribution {
  align-self: flex-end;
  color: #1F2937;
  font-size: 26px;
  font-weight: 700;
  text-align: right;
}

/* SECTION 4 */
.sectio4-container,
.cta-container,
.cta-text-container {
  display: flex;
  justify-content: center;
}



.cta-container {
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 80px 200px;
  padding: 20px 80px;
}

.cta-text-container {
  flex-direction: column;
}

.section4 p {
  margin: 0;
}

.section4 button {
  background-color: #3882F6;
  border: 1px solid white;
  color: inherit;
  flex: 0 1 120px;
}

.section4 button:active {
  background-color: #92bbfd;
}

.cta-title {
  font-size: 18px;
  font-weight: 800;
}

.cta-text {
  font-size: 12px;
  font-weight: lighter;
}

/* FOOTER */
.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
}

.footer p {
  padding: 15px 0;
}